A:link
{
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    COLOR: #000080;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000080;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #b52c21;
    TEXT-DECORATION: underline
}
BODY
{
 
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	scrollbar-3dLight-Color:#c0c0c0; 
    COLOR: black; 
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal; 
}
H1
{
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: normal
}
H2
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: normal
}
H3
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #db0f21;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal
}
H4
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal
}
H5
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #0000ff;
    FONT-SIZE: 10pt
}
H6
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #0000ff;
    FONT-SIZE: 8pt
}
P
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: black;
    FONT-SIZE: 8pt
}
TD
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt
}
TD.marked
{
    BACKGROUND-COLOR: #efefef;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 8pt
}
TD.marked1
{
    BACKGROUND-COLOR: #f3f3f3;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 8pt
}
TH
{
    BACKGROUND-COLOR: #f3f3f3;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: black;
    FONT-SIZE: 8pt;
    BORDER-TOP: gray 1px solid
}
TABLE
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
TABLE.light
{
    BORDER-BOTTOM: #666666 3px solid;
    BORDER-LEFT: #ffff99 3px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #ffff99;
    FONT-SIZE: 8pt;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #666666 1px solid
}
TEXTAREA
{
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #666666 0px solid
}
SELECT
{
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #666666 1px solid
}
INPUT
{
    BORDER-BOTTOM: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #666666 1px solid
}
INPUT.submit
{
    BORDER-BOTTOM: #666666 0px solid;
    BORDER-LEFT: #666666 0px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #666666 0px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #666666 0px solid
}
INPUT.extra
{
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt;
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #ffffff 1px solid
}
INPUT.radio
{
    BORDER-BOTTOM: #666666 0px solid;
    BORDER-LEFT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    BORDER-RIGHT: #666666 0px solid
}
INPUT.checkbox
{
    BORDER-BOTTOM: #666666 0px solid;
    BORDER-LEFT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    BORDER-RIGHT: #666666 0px solid
}
UNKNOWN
{
    BORDER-BOTTOM: 2px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
all.clsMenuItemNS
{
    FONT: x-small Verdana;
    COLOR: black;
    TEXT-DECORATION: none
}
A.clsMenuItemIE
{
    FONT: xx-small Verdana;
    COLOR: black;
    CURSOR: hand;
    TEXT-DECORATION: none
}
A.clsMenuItemIE:visited
{
    FONT: xx-small Verdana;
    COLOR: black;
    CURSOR: hand;
    TEXT-DECORATION: none
}
A.clsMenuItemIE:hover
{
    COLOR: #ffcc00
}
.tab-button
{
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #c0c0c0 1px solid;
    PADDING-BOTTOM: 3px;
    PADDING-LEFT: 3px;
    WIDTH: 100px;
    PADDING-RIGHT: 3px;
    BACKGROUND: #ffffff;
    HEIGHT: 20px;
    BORDER-TOP: #c0c0c0 1px solid;
    CURSOR: hand;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #c0c0c0 1px solid;
    PADDING-TOP: 3px
}
.tab-body
{
    Z-INDEX: 1;
    BORDER-BOTTOM: #c0c0c0 1px solid;
    POSITION: absolute;
    BORDER-LEFT: #c0c0c0 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    WIDTH: 600px;
    PADDING-RIGHT: 10px;
    BACKGROUND: white;
    VISIBILITY: hidden;
    BORDER-TOP: #c0c0c0 1px solid;
    TOP: 480px;
    BORDER-RIGHT: #c0c0c0 1px solid;
    PADDING-TOP: 10px;
    LEFT: 220px
}
.category
{
    MARGIN-TOP: 2px;
    MARGIN-BOTTOM: 5px;
    MARGIN-LEFT: 1px;
    FONT-SIZE: 10pt
}
 
 
ul
{
    padding-left: 16px;
    list-style-image: url('../favicon16x16.ico');
}
li
{
    text-align: left; 
}