<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<!-- 
            Legen Sie beim Kompilieren debug="true" fest, um 
            Debugsymbole in die kompilierte Seite einzufügen. 
            Da dies die Leistung beeinträchtigt, sollte der 
            Wert nur beim Entwickeln auf "True" gesetzt werden.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus, mit dem 
            ASP.NET eingehende Benutzer identifiziert. 
        -->
		<authentication mode="Windows" />
		<!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
            der Vorgehensweise bei unbehandelten Fehlern während 
            der Anforderungsausführung. Insbesondere können 
            Entwickler HTML-Fehlerseiten konfigurieren, die anstelle 
            einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!-- set to off to get error message in browser-->
    <customErrors mode = "On" defaultRedirect = "default.aspx">
      <error statusCode = "404" redirect = "search.aspx" />
    </customErrors>
      
		<pages>
			<controls>
				<add tagPrefix="aspx" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="aspx" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
        <sessionState cookieless="AutoDetect" />
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        Der system.webServer-Abschnitt ist zum Ausführen von ASP.NET AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von
        IIS ist er nicht erforderlich.
    -->
	<system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.htm" />
                <add value="default.htm" />
                <add value="default.asp" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://80.120.26.138" />
	</system.webServer>
</configuration>
