<style type="text/css">
<!--
.style1 {color: #FF0000}
-->
</style>


		<center>

            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber5">
              <tr>
                <td width="50%" valign="top">&nbsp;
                </td>
                <td width="50%" valign="top">&nbsp;
                </td>
              </tr>
              <tr>
                <td width="50%" valign="top">&nbsp;
                </td>
                <td width="50%" valign="top">&nbsp;
                </td>
              </tr>
              <tr>
                <td width="50%" rowspan="2" valign="top">
                <div align="center">
                  <center>
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="90%" id="AutoNumber6">
                  <tr>
                    <td width="100%" colspan="3">
                    <b><font size="1" face="Verdana" color="#DB0F21">&gt; 
					EXISTING ACCOUNTS</font></b><br>
&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="100%" colspan="3">
                      <ul>
                        <li><font face="Verdana,Tahoma,Arial,Helvetica" size="1">Please verify your information. You will require to re-enter your login information to proceed to next step and finalize your order.</font></li>
                        <li><font face="Verdana,Tahoma,Arial,Helvetica" size="1">Fields marked by &quot;<span class="style1">*</span>&quot; are required fields. </font></li>
                    </ul></td>
                  </tr>
                  <tr>
                    <td width="100%" colspan="3">
                    <div align="center">
                      <center>
                      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="81%" id="AutoNumber8" bgcolor="#F7F3F7">
                        <tr>
                          <td width="50%">
                          <b>
                          <font face="Verdana,Tahoma,Arial,Helvetica" size="1">
                          <span class="style1">*</span> Email</font></b></td>
                          <td width="50%">
                          <input type="text" name="EmailOld" size="20" value="[USER_EMAIL]"></td>
                        </tr>
                        <tr>
                          <td width="50%">
                          <b>
                          <font face="Verdana,Tahoma,Arial,Helvetica" size="1">
                          <span class="style1">*</span> 
                          Password</font></b></td>
                          <td width="50%">
                          <input type="password" name="PasswordOld" size="20" value="[USER_PASSWORD]"></td>
                        </tr>
                      </table>
                      </center>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="100%" colspan="3"> 
                    </td>
                  </tr>
                </table>
                  </center>
                </div>
                </td>
                <td width="50%" valign="top">
 
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber7">
                  <tr>
                    <td width="100%">
<!--
                    <b><font size="1" face="Verdana" color="#DB0F21">&gt; New 
					Customer</font></b><br>
&nbsp;
-->
</td>
                  </tr>
                  <tr>
                    <td width="100%">
                    <div align="left">
                      <font face="Verdana,Tahoma,Arial,Helvetica" size="1"><br>
&nbsp;</font><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber9">
                        <tr>
                          <td width="100%">
                          <p align="center">
                      <font face="Verdana,Tahoma,Arial,Helvetica" size="1">
   <!--                       
<input type="button" value="New Account" OnClick="document.location='default.asp?PageToShow=NewAccount'" name="B6"></font><br>
&nbsp;
-->
</td>
                        </tr>
                      </table>
                    </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="100%">
	     </td>
                  </tr>
                </table>

                </td>
              </tr>
              <tr>
                <td width="50%" valign="top">
                  <p>
                   <%if false then ' not allowed to %>
	        <% if getLOGIN() ="" then 	        
	        %>

                </td>
              </tr>
            </table>
            <%end if%>
            <% end if'do not show account create %>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="50%" id="AutoNumber12">
          <tr>
          </tr>
        </table>