UNKNOWN { 
	SCROLLBAR-FACE-COLOR: #e4f5ff; SCROLLBAR-HIGHLIGHT-COLOR: #e4f5ff; SCROLLBAR-SHADOW-COLOR: #e4f5ff; SCROLLBAR-3DLIGHT-COLOR: #0099ff; SCROLLBAR-ARROW-COLOR: #0099ff; SCROLLBAR-TRACK-COLOR: #e4f5ff; SCROLLBAR-DARKSHADOW-COLOR: black; SCROLLBAR-BASE-COLOR: #0099ff
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.ColorInbox {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; HEIGHT: 20px
}
.MenuStyle {
	FONT-SIZE: 12px; FONT-FAMILY: verdana
}
.MenuStyle:hover {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.MenuStyleBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: verdana
}
.MenuStyleBold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
BODY {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.inputbox {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid
}
.ColorInbox2 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
A {
	FONT-SIZE: 10px; COLOR: #384f96; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10px; COLOR: #384f96; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.Xinput {
	BORDER-RIGHT: white thin solid; BORDER-TOP: white thin solid; BORDER-LEFT: white thin solid; BORDER-BOTTOM: white thin solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #cccccc
}
.nav {
	FONT-SIZE: 10px; COLOR: #384f96
}
.nav:hover {
	FONT-SIZE: 10px; COLOR: #384f96
}
.menu {
	FONT-WEIGHT: bold; COLOR: white
}
.fussnote {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #cccccc
}
.fussnote:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: gray
}
.datum {
	FONT-SIZE: 10px
}