<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfügen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<add key="OleDbConnection.ConnectionString" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Database Password=;Data Source=&quot;D:\Business\farbod\Irada\irada_data.mdb&quot;;Password=;Jet OLEDB:Engine Type=5;Jet OLEDB:Global Bulk Transactions=1;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Encrypt Database=False" />
		<add key="MailSubject" value="Dear Participant"></add>
		<add key="MailText" value="&lt;html&gt;&#xD;&#xA;&#xD;&#xA;&lt;head&gt;&#xD;&#xA;&lt;meta http-equiv=&quot;Content-Language&quot; content=&quot;de-at&quot;&gt;&#xD;&#xA;&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=windows-1252&quot;&gt;&#xD;&#xA;&lt;meta name=&quot;GENERATOR&quot; content=&quot;Microsoft FrontPage 4.0&quot;&gt;&#xD;&#xA;&lt;meta name=&quot;ProgId&quot; content=&quot;FrontPage.Editor.Document&quot;&gt;&#xD;&#xA;&lt;title&gt;Neue Seite 1&lt;/title&gt;&#xD;&#xA;&lt;/head&gt;&#xD;&#xA;&#xD;&#xA;&lt;body&gt;&#xD;&#xA;&#xD;&#xA;&lt;p&gt;Thank you for you registration!&lt;/p&gt;&#xD;&#xA;&lt;p&gt;Your Password [Password]&lt;/p&gt;&#xD;&#xA;&lt;p&gt;Your Email: [Email]&lt;/p&gt;&#xD;&#xA;&lt;p&gt;Payment: [Payment] &lt;br&gt;&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;&lt;p&gt;Yours &lt;/p&gt;&#xD;&#xA;&lt;p&gt;IRADA TEAM&lt;/p&gt;&#xD;&#xA;&#xD;&#xA;&lt;/body&gt;&#xD;&#xA;&#xD;&#xA;&lt;/html&gt;&#xD;&#xA;"></add>
		<add key="MailFrom" value="register@irada.com"></add>
		<add key="SMTP" value="smtp.smartefox.com"></add>
		<add key="OleDbConnection1.ConnectionString" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Data Source=&quot;D:\Business\farbod\Irada\irada_data.mdb&quot;;Jet OLEDB:Engine Type=5;Provider=&quot;Microsoft.Jet.OLEDB.4.0&quot;;Jet OLEDB:System database=;Jet OLEDB:SFP=False;persist security info=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Global Bulk Transactions=1" />
	</appSettings>
</configuration>