A:link
{
    COLOR: #000080;
    FONT-FAMILY: Verdana, Verdana, Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    text-Decoration= none;
    
}
A:visited
{
    COLOR: #000080;
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none;
}

A:hover
{
	COLOR: #B52C21;
   text-Decoration= underline
    
}


BODY
{
    SCROLLBAR-FACE-COLOR: #c0c0c0;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    SCROLLBAR-HIGHLIGHT-COLOR: #000000;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    COLOR: black;
    SCROLLBAR-ARROW-COLOR: #ffcc00;
    SCROLLBAR-TRACK-COLOR: #505050;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
	scrollbar-3dLight-Color:#c0c0c0;
    SCROLLBAR-DARKSHADOW-COLOR: #c0c0c0;
    SCROLLBAR-BASE-COLOR: #c0c0c0
}
H1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #DB0F21;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5
{
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6
{
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.marked
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #efefef
}
TD.marked1
{
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f3f3f3
}
TH
{
    BORDER-TOP: gray 1px solid;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f3f3f3
}
TABLE
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.light
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #ffff99 3px solid;
    COLOR: #ffff99;
    BORDER-BOTTOM: #666666 3px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
SELECT
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
INPUT
{
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
INPUT.submit
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #666666 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666666 0px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
INPUT.extra
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
INPUT.radio
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    BORDER-LEFT: #666666 0px solid;
    BORDER-BOTTOM: #666666 0px solid
}
INPUT.checkbox
{
    BORDER-RIGHT: #666666 0px solid;
    BORDER-TOP: #666666 0px solid;
    BORDER-LEFT: #666666 0px solid;
    BORDER-BOTTOM: #666666 0px solid
}
UNKNOWN
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    BORDER-BOTTOM: 2px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
all.clsMenuItemNS
{
    FONT: x-small Verdana;
    COLOR: black;
    TEXT-DECORATION: none
}
A.clsMenuItemIE
{
    FONT: xx-small Verdana;
    CURSOR: hand;
    COLOR: black;
    TEXT-DECORATION: none
}
A.clsMenuItemIE:visited
{
    FONT: xx-small Verdana;
    CURSOR: hand;
    COLOR: black;
    TEXT-DECORATION: none
}
A.clsMenuItemIE:hover
{
    COLOR: #ffcc00
}
.tab-button
{
    BORDER-RIGHT: #c0c0c0 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #c0c0c0 1px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #c0c0c0 1px solid;
    WIDTH: 100px;
    CURSOR: hand;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ffffff 1px solid;
    HEIGHT: 20px
}
.tab-body
{
    BORDER-RIGHT: #c0c0c0 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #c0c0c0 1px solid;
    PADDING-LEFT: 10px;
    Z-INDEX: 1;
    BACKGROUND: white;
    LEFT: 220px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #c0c0c0 1px solid;
    WIDTH: 600px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #c0c0c0 1px solid;
    POSITION: absolute;
    TOP: 480px
}
A:link
{
}
.ebos
{
}