<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Mage_Api_Model_Server_V2_HandlerBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://87.106.5.25:82/magento/index.php/api/v2_soap/index/"
                binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
                contract="MagentoSyncService.Mage_Api_Model_Server_V2_HandlerPortType"
                name="Mage_Api_Model_Server_V2_HandlerPort" />
        </client>
    </system.serviceModel>
</configuration>