<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagentoSync.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MagentoSync.My.MySettings.intrasell_daten_2ConnectionString"
            connectionString="server=localhost;User Id=root;password=a1060;Persist Security Info=True;database=intrasell_daten_2"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Mage_Api_Model_Server_V2_HandlerBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--
            <endpoint address="http://87.106.5.25:82/magento/index.php/api/v2_soap/index/"
                binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
                contract="MagentoSyncService.Mage_Api_Model_Server_V2_HandlerPortType"
                name="Mage_Api_Model_Server_V2_HandlerPort" />
         
            <endpoint address="http://prospro.gostorego.com/index.php/api/v2_soap/index/"
                binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
                contract="MagentoSyncService.Mage_Api_Model_Server_V2_HandlerPortType"
                name="Mage_Api_Model_Server_V2_HandlerPort" />
          -->

          <endpoint address="http://prospro-testserver.de.dedi3692.your-server.de/index.php/api/v2_soap/index/"
               binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
               contract="MagentoSyncService.Mage_Api_Model_Server_V2_HandlerPortType"
               name="Mage_Api_Model_Server_V2_HandlerPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MagentoSync.My.MySettings>
            <setting name="MandantNr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="productimages" serializeAs="String">
                <value>z:\Business\IntraSell_System\IntraSell_WebShop_2008\WebShop_2008\productImages\</value>
            </setting>
            <setting name="productimagesLarge" serializeAs="String">
                <value>z:\Business\IntraSell_System\IntraSell_WebShop_2008\WebShop_2008\productImages_Large\</value>
            </setting>
            <setting name="SyncFolder" serializeAs="String">
                <value>Z:\Business\IntraSell_System\IntraSell_Net\MagentoSync\bin\Debug\</value>
            </setting>
            <setting name="SyncIntervalSeconds" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Magento_product_status" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Magento_product_visibility" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Magento_username" serializeAs="String">
                <value>gtonkov</value>
            </setting>
            <setting name="Magento_password" serializeAs="String">
                <value>abc123456</value>
            </setting>
            <setting name="Magento_product_storeview" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="Magento_product_tax_class_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreislisteNotLoggedIn" serializeAs="String">
                <value>1-Letztverbraucher</value>
            </setting>
            <setting name="Mappings" serializeAs="String">
                <value>
                  NOT LOGGED IN=NOT LOGGED IN;
                  1-Letztverbraucher=1-Letztverbraucher;
                  2-GH-Kunden Inland=2-GH-Kunden Inland;
                  3-Exportkunden DE=3-Exportkunden DE;
                  4-Exportkunden EUROPA=4-Exportkunden EUROPA;
                  5-Pros Pro=5-Pros Pro;
                  checkmo=Vorkasse;
                  paypal_standard=Paypal;
                  cc=Creditcard;
                </value>
            </setting>
        </MagentoSync.My.MySettings>
    </userSettings>
</configuration>